# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.env
*.egg-info/
dist/
build/

# PyTorch checkpoints / outputs
checkpoints/
outputs/
*.pth
*.pt

# Visualizations
vis/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db